
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1f2025;
    font-family: 'poppins',sans-serif;
}
.book{
    width: 92%;
    height: 90%;
    /* border: 1px solid white; */
    display: flex;
}
.book .left,.right{
    width: 80%;
    position: relative;
    height: 100%;
    /* border: 1px solid white; */
}
.book .left{
    width: 20%;
}
.book .left img{
    width:100%;
}
.book .left .play{
    position: relative;
    left: 44%;
    top: -25px;
    background:#fd6565;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    box-shadow:  0px 0px 20px #fd6565;
    transition: .3s linear;
    cursor: pointer;
}
.book .left .play:hover{
    transform: rotate(360deg);

}
.book .left .cont{
    color: white;
    padding: 0 20px;

}
.book .left .cont p{
    font-size:12px;
    margin-bottom: 10px;
}
.book .left .cont h6{
    font-size: 13px;
    

}
.book .right {
    padding: 10px 40px;
    background: unset;
}
.book .right::before {
    position: absolute;
    content: '';
    width: 95%;
    height: 250px;
    /* border: 1px solid white ; */
    background: url(img/bg.png)no-repeat center -30px/cover;
    z-index: -10;
    border-radius: 20px;
}
.book .right::after{
    position: absolute;
    content: '';
    width: 95%;
    height: 200px;
    /* border: 1px solid white ; */
    background: linear-gradient(0deg, transparent ,#1f2025);

    z-index: -10;
    border-radius: 20px;

}
.book .right .head_time{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.book .right .head_time::before{
   content: '';
   position: absolute;
   width: 150px;
   height: 250px;
   top: 0;
   background: linear-gradient(90deg,transparent,#1f2025);
   right: -25px;
   z-index: -9;


}
.book .right .head_time::after{
   content: '';
   position: absolute;
   width: 150px;
   height: 250px;
   top: 0;
   background: linear-gradient(270deg,transparent,#1f2025);
   left: -25px;
   z-index: -9;


}
.book .right .head_time h1{
    color: white;
    font-weight: 600;

}
.book .right .head_time .time{
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.book .right .head_time .time h6{
    font-weight: 13px;
    margin-right: 15px;
}
.book .right .head_time .time i{
    margin-right: 5px;

}
.book .right .head_time .time button{
    padding: 4px 10px;
    border-radius: 10px;
    border: 2px solid #fd6565;
    color: white;
    background: none;
    font-size: 11px;
    cursor: pointer;
    transition: .3s linear;

}
.book .right .head_time .time button:hover{
   background: #fd6565;

}
.book .right .date_type{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.book .right .date_type .left_card, .right_card{
    width: 45%;
    border: 1px solid white;

}
.book .right .date_type::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 190px;
    left: -15px;
    top: 0;
    background: linear-gradient(180deg, transparent , #1f2025);
    z-index: -9;
}
.book .right .left_card
